<div id="days">
    {{#each}}
        <div class="row day">
            <div class="small-2 columns date">
                <span class="month">{{format-date date format="MMM"}}</span>
                <span class="day-of-month">{{format-date date format="DD"}}</span>
            </div>
            <div class="small-8 columns end">
                <form class="day-form">
                    <label>Scripture
                        {{focus-text-field placeholder=scripture value=scripture action="setScripture"}}
                        {{{scriptureHtml}}}
                    </label>
                    <label>Notes
                        <textarea class="notes ckeditor"></textarea>
                    </label>
                </form>
            </div>
        </div>
    {{/each}}
</div>