<div class="row" id="weeks">
    {{#each}}
        <div {{bind-attr class=":small-4 :columns :week isActive"}}>
            <a {{action "changeWeek" this}}>
                <span class="month">{{format-date startDate format='MMM'}}</span>
                <span class="day-of-month">{{format-date startDate format='DD'}}</span>
            </a>
        </div>
    {{/each}}
</div>
<div id="days">
    {{#each selectedWeek.days itemController="day" itemView="day"}}
        <div class="row day">
            <div class="small-2 columns date">
                <span class="month">{{format-date date format="MMM"}}</span>
                <span class="day-of-month">{{format-date date format="DD"}}</span>
            </div>
            <div class="small-10 columns">
                <label>Scripture
                    {{focus-text-field placeholder=scripture value=scripture action="setScripture"}}
                    {{{scriptureHtml}}}
                </label>
                <label>Notes
                    <textarea class="notes ckeditor"></textarea>
                </label>
            </div>
        </div>
    {{/each}}
</div>