body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;
}

.week {
	background: #777777;
	color: #FFFFFF;
	text-align: center;
	padding: .5rem;
}

.week.is-active {
	background: #ffffff;
	color: #333333;
}

.month, .day-of-month {
	display: block;
}

.month {
	font-size: 2em;
	font-weight: 300;
}

.day-of-month {
	font-size: 3em;
}

#days {

}

.date {
	text-align: center;
	font-size: 0.7em;
    margin-top: 2rem;
}

.day {
	padding-top: 2rem;
}

label {
	line-height: 2rem;
	font-weight: 700;
}

textarea.notes {
	height: 8rem;
}

.esv h2 {
	font-size: 1.5rem;
}

.verse-num {
    vertical-align: super;
    font-size: 0.5em;
}